################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Test
/packages
/WinReader/bin
/WinReader/obj
/WinReader.Lib/bin
/WinReader.Lib/obj